azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "metadata": {
        "title": "AS-Microsoft-DCR-Log-Ingestion", 
        "description": "This playbook is intended to be run ",
        "preDeployment": ["App registration", "Data collection Endpoints", "Data Collection Rules", "Azure Keyvault Secret"],
        "postDeployment": ["Access to the Azure Key Vault must be granted to the playbook"],
        "lastUpdateTime": "2024-08-21T17:48:00Z",
        "tags": ["Microsoft Graph", "Microsoft Office"], 
        "support": {
            "tier": "partner"
        },
        "author": {
            "name": "Accelerynt"
        }
    },
    "parameters": {
        "PlaybookName": {
            "defaultValue": "AS-Microsoft-DCR-Log-Ingestion",
            "type": "string",
            "metadata": {
                "description": "Name of the Logic App resource to be created"
            }
        },
        "AppRegistrationClientID": {
            "type": "string",
            "metadata" : {
                "description" : "Enter the Application (client) ID of your App Registration"
            }
        },
        "KeyVaultName": {
            "type": "string",
            "metadata" : {
                "description" : "Name of the Key Vault that stores the App Registration and DCR client secrets"
            }
        },
        "AppRegistrationKeyVaultSecretName": {
            "type": "string",
            "metadata": {
                "description": "Name of Key Vault Secret that contains the App Registration client secret"
            }
        },
        "GraphAuditClientID": {
            "type": "string",
            "metadata" : {
                "description" : "Enter the Application (client) ID of your Data Collection Rule Endpoint for Microsoft Graph"
            }
        },
        "GraphAuditKeyVaultSecretName": {
            "type": "string",
            "metadata": {
                "description": "Name of Key Vault Secret that contains the Microsoft Graph Data Collection Rule Endpoint client secret"
            }
        },
        "GraphAuditDCR": {
            "type": "string",
            "metadata": {
                "description": "Id of the Microsoft Graph Data Collection Rule Endpoint"
            }
        },
        "OfficeActivityClientID": {
            "type": "string",
            "metadata" : {
                "description" : "Enter the Application (client) ID of your Data Collection Rule Endpoint for Microsoft Office"
            }
        },
        "OfficeActivtyKeyVaultSecretName": {
            "type": "string",
            "metadata": {
                "description": "Name of Key Vault Secret that contains the Microsoft Office Data Collection Rule Endpoint client secret"
            }
        },
        "OfficeActivtyDCRHost": {
            "type": "string",
            "metadata": {
                "description": "Host of the Microsoft Office Data Collection Rule URL"
            }
        },
        "OfficeActivtyDCR": {
            "type": "string",
            "metadata": {
                "description": "Id of the Microsoft Office Data Collection Rule Endpoint"
            }
        },
        "SignInClientID": {
            "type": "string",
            "metadata" : {
                "description" : "Enter the Application (client) ID of your Data Collection Rule Endpoint for Microsoft Graph"
            }
        },
        "SignInKeyVaultSecretName": {
            "type": "string",
            "metadata": {
                "description": "Name of Key Vault Secret that contains the Microsoft Graph Data Collection Rule Endpoint client secret"
            }
        },
        "SignInDCRHost": {
            "type": "string",
            "metadata": {
                "description": "Host of the Microsoft Graph Data Collection Rule URL"
            }
        },
        "SignInDCRURL": {
            "type": "string",
            "metadata": {
                "description": "Full URL of the Microsoft Graph Data Collection Rule Endpoint"
            }
        }
    },
    "variables": {
        "keyvault": "[concat('keyvault-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('keyvault')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[parameters('PlaybookName')]",
                "parameterValueType": "Alternative",
                "alternativeParameterValues": {
                    "vaultName": "[parameters('KeyVaultName')]"
                },
                "customParameterValues": {
                },
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "tags": {
                "LogicAppsCategory": "security"
            },
            "identity": {
                "type": "SystemAssigned"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('keyvault'))]"
            ],
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "Recurrence": {
                            "evaluatedRecurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 5
                            },
                            "type": "Recurrence"
                        }
                    },
                    "actions": {
                        "For_Each_-_O365_Audit_Logs": {
                            "actions": {
                                "For_each_-_Content_URI_Item": {
                                    "actions": {
                                        "HTTP_-_Send_Data_to_Office_Activity_Logs_Data_Collection_Endpoint": {
                                            "inputs": {
                                                "body": [
                                                    "@items('For_each_-_Content_URI_Item')"
                                                ],
                                                "headers": {
                                                    "Authorization": "Bearer @{body('HTTP_-_Authenticate_to_Office_Activity_Logs_Data_Collection_Endpoint')?['access_token']}",
                                                    "Content-Length": "@{length(string(items('For_each_-_Content_URI_Item')))}",
                                                    "Content-Type": "application/json",
                                                    "Host": "[parameters('OfficeActivtyDCRHost')]"
                                                },
                                                "method": "POST",
                                                "uri": "[parameters('OfficeActivtyDCRURL')]"
                                            },
                                            "runAfter": {},
                                            "type": "Http"
                                        }
                                    },
                                    "foreach": "@json(body('HTTP_-_Get_O365_Content'))",
                                    "runAfter": {
                                        "HTTP_-_Get_O365_Content": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Foreach"
                                },
                                "HTTP_-_Get_O365_Content": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://manage.office.com",
                                            "clientId": "[parameters('AppRegistrationClientID')]",
                                            "secret": "@{body(''Get_Client_Secret'')?[''value'']}",
                                            "tenant": "[subscription().tenantId]",
                                            "type": "ActiveDirectoryOAuth"
                                        },
                                        "method": "GET",
                                        "uri": "@{items('For_Each_-_O365_Audit_Logs')?['contentUri']}"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            },
                            "foreach": "@body('HTTP_-_Get_O365_Audit_General_Logs')",
                            "runAfter": {
                                "HTTP_-_Authenticate_to_Office_Activity_Logs_Data_Collection_Endpoint": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_-_Microsoft_Graph_Audit_Logs": {
                            "actions": {
                                "HTTP_-_Send_Data_to_Microsoft_Graph_Audit_Log_Data_Collection_Endpoint": {
                                    "inputs": {
                                        "body": [
                                            "@items('For_each_-_Microsoft_Graph_Audit_Logs')"
                                        ],
                                        "headers": {
                                            "Authorization": "Bearer @{body('HTTP-_Authenticate_to_Microsoft_Graph_Audit_Logs_Data_Collection_Endpoint')?['access_token']}",
                                            "Content-Length": "@{length(string(items('For_each_-_Microsoft_Graph_Audit_Logs')))}",
                                            "Content-Type": "application/json",
                                            "Host": "[parameters('GraphAuditDCRHost')]"
                                        },
                                        "method": "POST",
                                        "uri": "[parameters('GraphAuditDCRURL')]"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            },
                            "foreach": "@body('HTTP_-_Get_Microsoft_Graph_Audit_Logs')?['value']",
                            "runAfter": {
                                "HTTP-_Authenticate_to_Microsoft_Graph_Audit_Logs_Data_Collection_Endpoint": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_-_Microsoft_Graph_Sign_in_Logs": {
                            "actions": {
                                "HTTP_-_Send_Data_to_SignIn_Log_Data_Collection_Endpoint": {
                                    "inputs": {
                                        "body": [
                                            "@items('For_each_-_Microsoft_Graph_Sign_in_Logs')"
                                        ],
                                        "headers": {
                                            "Authorization": "Bearer @{body('HTTP_-_Authenticate_to_SignInLogs_Data_Collection_Endpoint')?['access_token']}",
                                            "Content-Length": "@{length(string(items('For_each_-_Microsoft_Graph_Sign_in_Logs')))}",
                                            "Content-Type": "application/json",
                                            "Host": "[parameters('SignInDCRHost')]"
                                        },
                                        "method": "POST",
                                        "uri": "[parameters('SignInDCRURL')]"
                                    },
                                    "runAfter": {},
                                    "type": "Http"
                                }
                            },
                            "foreach": "@body('HTTP_-_Get_Microsoft_Graph_Sign_In_Logs')?['value']",
                            "runAfter": {
                                "HTTP_-_Authenticate_to_SignInLogs_Data_Collection_Endpoint": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP-_Authenticate_to_Microsoft_Graph_Audit_Logs_Data_Collection_Endpoint": {
                            "inputs": {
                                "body": "[concat('grant_type=client_credentials&client_id=', parameters('GraphAuditClientID'),'&client_secret=@{body(''Get_Graph_Audit_Client_Secret'')?[''value'']}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')]",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "[concat('https://login.microsoftonline.com/', subscription().tenantId, '/oauth2/v2.0/token')]"
                            },
                            "runAfter": {
                                "HTTP_-_Get_Microsoft_Graph_Audit_Logs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_-_Authenticate_to_Office_Activity_Logs_Data_Collection_Endpoint": {
                            "inputs": {
                                "body": "[concat('grant_type=client_credentials&client_id=', parameters('OfficeActivityClientID'),'&client_secret=@{body(''Get_Office_Activty_Client_Secret'')?[''value'']}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')]",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "[concat('https://login.microsoftonline.com/', subscription().tenantId, '/oauth2/v2.0/token')]"
                            },
                            "runAfter": {
                                "HTTP_-_Get_O365_Audit_General_Logs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_-_Authenticate_to_SignInLogs_Data_Collection_Endpoint": {
                            "inputs": {
                                "body": "[concat('grant_type=client_credentials&client_id=', parameters('GraphSignInClientID'),'&client_secret=@{body(''Get_Graph_Sign_In_Client_Secret'')?[''value'']}&scope=https%3A%2F%2Fgraph.microsoft.com%2F.default')]",
                                "headers": {
                                    "Content-Type": "application/x-www-form-urlencoded"
                                },
                                "method": "POST",
                                "uri": "[concat('https://login.microsoftonline.com/', subscription().tenantId, '/oauth2/v2.0/token')]"
                            },
                            "runAfter": {
                                "HTTP_-_Get_Microsoft_Graph_Sign_In_Logs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_-_Get_Microsoft_Graph_Audit_Logs": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "[parameters('AppRegistrationClientID')]",
                                    "secret": "@{body(''Get_App_Registration_Client_Secret'')?[''value'']}",
                                    "tenant": "[subscription().tenantId]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/auditLogs/directoryAudits?$filter=activityDateTime ge @{addMinutes(variables('UTCNow'), -5)}"
                            },
                            "runAfter": {
                                "Get_Graph_Sign_In_Client_Secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_-_Get_Microsoft_Graph_Sign_In_Logs": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://graph.microsoft.com",
                                    "clientId": "[parameters('AppRegistrationClientID')]",
                                    "secret": "@{body(''Get_App_Registration_Client_Secret'')?[''value'']}",
                                    "tenant": "[subscription().tenantId]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "https://graph.microsoft.com/v1.0/auditLogs/signIns?$filter=createdDateTime ge @{addMinutes(variables('UTCNow'), -5)}"
                            },
                            "runAfter": {
                                "For_each_-_Microsoft_Graph_Audit_Logs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "HTTP_-_Get_O365_Audit_General_Logs": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://manage.office.com",
                                    "clientId": "[parameters('AppRegistrationClientID')]",
                                    "secret": "@{body(''Get_App_Registration_Client_Secret'')?[''value'']}",
                                    "tenant": "[subscription().tenantId]",
                                    "type": "ActiveDirectoryOAuth"
                                },
                                "headers": {
                                    "Accept": "application/json",
                                    "Content-Type": "application/json"
                                },
                                "method": "GET",
                                "uri": "[concat('https://manage.office.com/api/v1.0/', subscription().subscriptionId,'/activity/feed/subscriptions/content?contentType=Audit.AzureActiveDirectory&PublisherIdentifier=Microsoft?&startTime=@{addMinutes(variables(''UTCNow''), -5)}&endTime=@{variables(''UTCNow'')}')]"
                            },
                            "runAfter": {
                                "For_each_-_Microsoft_Graph_Sign_in_Logs": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_variable_-_UTC_Now": {
                            "description": "Get the current time stamp so it is the same in all references",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "UTCNow",
                                        "type": "string",
                                        "value": "@{utcNow()}"
                                    }
                                ]
                            },
                            "runAfter": {},
                            "type": "InitializeVariable"
                        },
                        "Get_App_Registration_Client_Secret": {
                            "runAfter": {
                                "Initialize_variable_-_UTC_Now": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('AppRegistrationKeyVaultSecretName'), ''')}/value')]"
                            }
                        },
                        "Get_Graph_Audit_Client_Secret": {
                            "runAfter": {
                                "Get_App_Registration_Client_Secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('GraphAuditKeyVaultSecretName'), ''')}/value')]"
                            }
                        },
                        "Get_Office_Activty_Client_Secret": {
                            "runAfter": {
                                "Get_Graph_Audit_Client_Secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('OfficeActivtyKeyVaultSecretName'), ''')}/value')]"
                            }
                        },
                        "Get_Graph_Sign_In_Client_Secret": {
                            "runAfter": {
                                "Get_Office_Activty_Client_Secret": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['keyvault']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('GraphSignInKeyVaultSecretName'), ''')}/value')]"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "keyvault": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('keyvault'))]",
                                "connectionName": "[variables('keyvault')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId,'/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}
